.segundaTela{
    background-color: rgb(34, 34, 33);
    padding: 0px;
}
.logoAlerta{
    flex-direction: column;
}

.float-button{
    margin-top: 60px;
    background-color:  transparent;
    border-color: transparent;
    background-image: url(img/saibaMais.png);
    width: 210px;
    height: 80px;
    padding: 0px;
}
.float-button:hover{
    filter: grayscale(100%)
}
